.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
  size: 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.recipe_list_item img {
  width: 150px;
}

.recipe_list_item {
  margin-bottom: 10px;
  float: left;
}

.recipe_details {
  float: left;
  font-size: 14px;
  text-align: left;
}

.recipe_details div {
  margin-bottom: 10px;
  max-width: 600px;
}

.recipe_details img {
  width: 700px;
}

.return_link {
  margin-bottom: 10px;
  display: block;
}